* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.quadrado{
    height: 160px;
    width: 160px;
    background-color: black;
}

.azul{
    background-color: blue;
}