.imagens-slider {
	position: relative;
	height: 100vh;
	display: flex;
	align-items: center;
	/* border: 1px solid blue; */
}

.imagens-slider .slide {
	/* border: 1px solid red; */
	position: absolute;
	height: 100%;
	width: 100vw;
	display: flex;
	align-items: center;
	transition: 0.5s ease-out;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	opacity: 0;
}

.imagens-slider .slide.mostrar {
	opacity: 1;
}

.slide-rosa {
	background-image: url(../imagens/slide-rosa.jpg);
}
.slide-verde {
	background-image: url(../imagens/slide-verde.jpg);
}
.slide-laranja {
	background-image: url(../imagens/slide-laranja.jpg);
}
.slide-azul {
	background-image: url(../imagens/slide-azul.jpg);
}

.seta-voltar,
.seta-avancar {
	position: absolute;
	z-index: 1;
}

.seta-voltar {
	left: 4%;
	transform: rotateY(180deg);
}
.seta-avancar {
	right: 4%;
}

.opacidade {
	opacity: 0.4;
	cursor: default;
}

.conteudo {
	background-color: #fff;
	margin-left: 180px;
	padding: 65px 60px;
	width: 620px;
	border-radius: 10px;
}

.conteudo .titulo {
	margin-bottom: 80px;
	font-size: calc(50rem/16);
	font-weight: 400;
}

.conteudo .texto {
	font-size: calc(25rem/16);
	font-weight: 300;
	margin-bottom: 50px;
}

.conteudo .botao {
	font-size: calc(30rem/16);
	font-weight: 700;
}

.botao.rosa {
	color: #c50000;
}
.botao.verde {
	color: #d9dd10;
}
.botao.laranja {
	color: #a63a17;
}
.botao.azul {
	color: #10acdd;
}
